@model VegetationMonitoring.ViewModels.ContactViewModel

@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("form").submit(function () {
                if (!$(this).valid()) {
                    $('.NotifyOK').hide();
                }
            });
        }); 
    </script>
}

<div style="    
    height: 0px;
    position: relative;
    right: 120px;
    top: 8px;
    ">
    <img src="~/images/cloca logo sm.png" />
</div>

<address>
    Central Lake Ontario Conservation Authority<br />
    100 Whiting Ave. <br />
    Oshawa, Ontario <br />
    L1H 3T3 <br /><br />
    <abbr title="Phone">P:</abbr>
    (905) 579-0411
</address>

<address>
    <strong>email:</strong> 
    @Html.Raw(@ViewData["MailToEmail"])
</address>

<form method="post">
    <span asp-validation-summary="ModelOnly" class="NotifyRequired"></span><br />

    <label asp-for="Name">Name</label><br />
    <input class="inputWide" asp-for="Name"/>
    <span asp-validation-for="Name" class="NotifyRequired"></span>
    <br />

    <label asp-for="Email">Email</label><br />
    <input class="inputWide" asp-for="Email" type="email" />
    <span asp-validation-for="Email" class="NotifyRequired"></span>
    <br />

    <label asp-for="Body">Message</label><br />
    <textarea class="inputWide" asp-for="Body" cols="40" rows="4"></textarea><span asp-validation-for="Body" class="NotifyRequired"></span>
    @if (ViewBag.UserMessage != null)
    {
        <span class="NotifyOK">@ViewBag.UserMessage</span>
    } 
    
    <br />
    <div style="margin-top:32px;"><input type="submit" value="Send Message" /></div>

</form>
